main {
  width: 90vw;
  max-width: 1400px;
  padding: 3rem 0;
  margin-inline: auto;

  .products {
    display: grid;
    gap: 2rem;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 2fr;
      align-items: flex-start;
    }

    .filters-container {
      display: grid;
      row-gap: 0.5rem;

      .filter {
        &-title {
          display: grid;
          grid-template-columns: minmax(1.5rem, 2rem) 8fr;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem 0;
          .icon {
            justify-self: left;
            font-size: 1.25rem;
          }

          button {
            width: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            display: flex;
            justify-content: space-between;

            font-size: 1.2rem;
            text-transform: capitalize;
          }
        }
      }
    }

    .products-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(7rem, 20rem));
      gap: 1rem;
      justify-content: center;

      @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(auto-fit, minmax(7rem, 17rem));
        gap: 2rem;
      }

      .product {
        display: grid;
        grid-template-rows: 12rem auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        transition: all 0.3s ease;

        &:hover {
          transform: translate(-5px, -5px);
        }

        &-img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
        &-text {
          padding: 1.5rem;
          display: grid;
          row-gap: 1rem;

          header {
            display: grid;
            row-gap: 0.75rem;
            grid-template-rows: 5rem;

            h5 {
              align-self: center;
            }

            p {
              align-self: flex-end;
            }
          }

          .product-desc {
            align-self: flex-end;

            display: flex;
            justify-content: space-between;

            .price-tag {
              background-color: #000;
              color: #fff;
              padding: 0.2rem 0.75rem;

              border-radius: 10px;
              display: grid;
              place-content: center;

              h5 {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

form {
  display: none;
}
.show-filters form {
  display: block;
}
.chevron-up {
  display: none;
}
.show-filters .chevron-up {
  display: inline;
}

.show-filters .chevron-down {
  display: none;
}
